{
  "plugins": [
    "standard",
    "react"
  ],
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "rules": {},
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  }
}
